.card-view {
  padding: 60px 60px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px rgba(201, 201, 201, 0.25);
  max-width: 1000px;
  margin: auto;
  margin-bottom: 15px;
}

.breadcrumb-title {
border-radius: 4px;
margin: 15px;
}
.breadcrumb-title p {
font-family: Maven Pro;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
color: #001b30;
padding: 15px;
box-shadow: 0px 4px 9px rgba(201, 201, 201, 0.09);
}

.form-container{
  margin:20px 0px;
}
.tag-container{
  display: flex;
  flex-direction: row;
}
.tag-img-container{
  display: flex;
  width: 48%;
  flex-direction: column;

}

.file-input {
  opacity: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.file-container {
  width: 50%;
  padding: 20px;
  border: 1px dashed #aba9a9;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: auto;
  min-height: 200px;
  height: 100%;
}

.upload-img{
  width: 36px;
  height: 36px;
}

.file-button{
  background: #001B30;
  border-radius: 25px;
  color: white;
  padding: 10px 40px;
  display: block;
  margin: auto;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #38424c;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.form-tag{
margin-top: 25px;
}

.image-form {
  flex: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 50%;
}

.selected-img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}


@media (max-width: 481px) {
  .tag-container {
    flex-direction: column;
  }
  .tag-img-container {
    flex-direction: column;
    width: 100%;
  }

  .image-form {
    width: 100%;
  }
  .file-container {
    width: 100%;
  }
}
